In [1]:
A = 4 
print('The value of A is:',A) 
B = 6 
print('The value of B is:',B) 
C = A+B
print('The value of C is:',C)
D = A- B 
print('The value of D is:',D)

The value of A is: 4
The value of B is: 6
The value of C is: 10
The value of D is: -2

In [4]:
X = 5/2 
print(X)

2.5

In [5]:
Y = (int) (X)
print(Y)

2

In [6]:
v1 = 4
v2 = 5.5
v3 = v1 + v2
print(v3)

9.5

In [9]:
v1 = 4
v2 = 5.5
v3 = v1 + v2
print(v3)

9.5

In [11]:
X = '1st' 
Y = '2nd' 
Z = '3rd' 
Ans = X + Y + Z
print(Ans)

1st2nd3rd

In [17]:
Birth_Year = 1997
Current_Year = 2025
Age = Birth_Year - Current_Year
print(Age)

-28

In [20]:
my_name = 'Angie'
my_country = 'Colombia'
my_major = 'Business Administrator'

print(my_name)
print(my_country)
print(my_major)

Angie
Colombia
Business Administrator

In [23]:
G = my_name.upper()
G1 = my_country.lower()
G2 = my_major.swapcase()

In [27]:
print ('my_nameis:',my_name)
print ('my_name in upercase:',my_name.upper())
print ('my_countryis:',my_country.lower())
print ('my_majoris:',my_major.swapcase())

my_nameis: Angie
my_name in upercase: ANGIE
my_countryis: colombia
my_majoris: bUSINESS aDMINISTRATOR

In [39]:
P = 2
Q = 7
D = 2*(P+Q)
print(D)
K = 4*(P-Q)
print(K)

18
-20

In [40]:
#STRINGS 
text = 'This is my 2nd Tutorial in MDS601'
#A
print(text)

This is my 2nd Tutorial in MDS601

In [41]:
#B
print(len(text))

33

In [42]:
#C
print(text[5])

i

In [43]:
#D
text[len(text)-1]

'1'

In [47]:
#e, f
updated_text = text.swapcase()
print(updated_text)

tHIS IS MY 2ND tUTORIAL IN mds601

In [57]:
FName = 'Angie'
LName = 'Cepeda'

full_name = FName + ' ' + LName 
print(full_name)

Angie Cepeda

In [70]:
my_list = [20,40,60,80,100,120]

In [71]:
#a
my_list[0]= 30
print(my_list)

[30, 40, 60, 80, 100, 120]

In [72]:
#b
my_list[len(my_list)-1] = my_list[0] + my_list[1]
print(my_list)

[30, 40, 60, 80, 100, 70]

In [73]:
#c
my_list.extend([11,22])
print(my_list)

[30, 40, 60, 80, 100, 70, 11, 22]

In [74]:
#d
my_list.insert(3,-10)
print(my_list)

[30, 40, 60, -10, 80, 100, 70, 11, 22]

In [76]:
#e
sorted_list= sorted(my_list)
print(sorted_list)

[-10, 11, 22, 30, 40, 60, 70, 80, 100]

In [77]:
print(my_list)

[30, 40, 60, -10, 80, 100, 70, 11, 22]

In [79]:
#Tuple
my_tuple = (11,22,33,44,55)
print(my_tuple)

(11, 22, 33, 44, 55)

In [82]:
print(len(my_tuple))

5

In [83]:
print(my_tuple[len(my_tuple)-1])

55

In [85]:
my_data= {'Cata': 30, 'Thais':30, 'Jhon':20, 'Luis':26}

In [86]:
print(my_data)

{'Cata': 30, 'Thais': 30, 'Jhon': 20, 'Luis': 26}

In [87]:
print(my_data.keys())

dict_keys(['Cata', 'Thais', 'Jhon', 'Luis'])

In [88]:
print(my_data.values())

dict_values([30, 30, 20, 26])

In [90]:
print(my_data['Jhon'])

20