In [5]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 4220-7A88

 Directory of C:\Users\AngieLorenaCEPEDAGAR\Documents\Data Metho

16/04/2025  11:11 AM    <DIR>          .
02/04/2025  02:14 PM    <DIR>          ..
16/04/2025  11:09 AM    <DIR>          .ipynb_checkpoints
16/04/2025  11:10 AM            26,585 credit (2).csv
26/03/2025  10:17 AM            26,585 credit.csv
26/03/2025  11:05 AM            37,117 Untitled.ipynb
26/03/2025  10:20 AM                72 Week2.ipynb
02/04/2025  10:56 AM           411,659 Week4.ipynb
09/04/2025  11:38 AM           403,729 Week5.ipynb
16/04/2025  11:11 AM               724 Week6.ipynb
               7 File(s)        906,471 bytes
               3 Dir(s)  347,338,059,776 bytes free

In [8]:
# Load the dataset

import pandas as pd
data=pd.read_csv('credit.csv',index_col=0)
data.index.name = "Obs"

In [9]:
data.shape

(400, 11)

In [11]:
data.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
Obs,,,,,,,,,,,
1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [12]:
data.tail()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
Obs,,,,,,,,,,,
396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
397,13.364,3838,296,5,65,17,Male,No,No,African American,480
398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

In [18]:
#Queremos saber cual variable es y

y = data['Limit']
y

Obs
1      3606
2      6645
3      7075
4      9504
5      4897
       ...
396    4100
397    3838
398    4171
399    2525
400    5524
Name: Limit, Length: 400, dtype: int64

In [26]:
#Queremos saber cual variable es X 
#pero eliminamos la columna limit porque ya la sabemos en la Y de arriba


X = data.drop('Limit',axis=1)
X

,Income,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
Obs,,,,,,,,,,
1,14.891,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,483,3,82,15,Female,Yes,Yes,Asian,903
3,104.593,514,4,71,11,Male,No,No,Asian,580
4,148.924,681,3,36,11,Female,No,No,Asian,964
5,55.882,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...
396,12.096,307,3,32,13,Male,No,Yes,Caucasian,560
397,13.364,296,5,65,17,Male,No,No,African American,480
398,57.872,321,5,67,12,Female,No,Yes,Caucasian,138
399,37.728,192,1,44,13,Male,No,Yes,Caucasian,0
400,18.701,415,5,64,7,Female,No,No,Asian,966

In [40]:
#necesitamos convertir algunas variables en numeros por ejemplo Male or Female

from sklearn.preprocessing import LabelEncoder

In [41]:
data['Gender']

Obs
1      0
2      1
3      0
4      1
5      0
      ..
396    0
397    0
398    1
399    0
400    1
Name: Gender, Length: 400, dtype: int32

In [42]:
le = LabelEncoder()

#esta es la funcion para cambiar esas variables

In [43]:
data['Gender'] = le.fit_transform(data['Gender'])

In [39]:
data['Gender']

Obs
1      0
2      1
3      0
4      1
5      0
      ..
396    0
397    0
398    1
399    0
400    1
Name: Gender, Length: 400, dtype: int32

In [44]:
data['Student'] = le.fit_transform(data['Student'])

In [45]:
data['Student']

Obs
1      0
2      1
3      0
4      0
5      0
      ..
396    0
397    0
398    0
399    0
400    0
Name: Student, Length: 400, dtype: int32

In [46]:
data['Married'] = le.fit_transform(data['Married'])

In [47]:
data['Married']

Obs
1      1
2      1
3      0
4      0
5      1
      ..
396    1
397    0
398    1
399    1
400    0
Name: Married, Length: 400, dtype: int32

In [48]:
data['Ethnicity'] = le.fit_transform(data['Ethnicity'])

In [49]:
data['Ethnicity']

Obs
1      2
2      1
3      1
4      1
5      2
      ..
396    2
397    0
398    2
399    2
400    1
Name: Ethnicity, Length: 400, dtype: int32

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 1 to 400
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Income     400 non-null    float64
 1   Limit      400 non-null    int64
 2   Rating     400 non-null    int64
 3   Cards      400 non-null    int64
 4   Age        400 non-null    int64
 5   Education  400 non-null    int64
 6   Gender     400 non-null    int64
 7   Student    400 non-null    int32
 8   Married    400 non-null    int32
 9   Ethnicity  400 non-null    int32
 10  Balance    400 non-null    int64
dtypes: float64(1), int32(3), int64(7)
memory usage: 32.8 KB

In [52]:
#Queremos saber cual variable es y

y = data['Limit']
y

Obs
1      3606
2      6645
3      7075
4      9504
5      4897
       ...
396    4100
397    3838
398    4171
399    2525
400    5524
Name: Limit, Length: 400, dtype: int64

In [53]:

X = data.drop('Limit',axis=1)
X

,Income,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
Obs,,,,,,,,,,
1,14.891,283,2,34,11,0,0,1,2,333
2,106.025,483,3,82,15,1,1,1,1,903
3,104.593,514,4,71,11,0,0,0,1,580
4,148.924,681,3,36,11,1,0,0,1,964
5,55.882,357,2,68,16,0,0,1,2,331
...,...,...,...,...,...,...,...,...,...,...
396,12.096,307,3,32,13,0,0,1,2,560
397,13.364,296,5,65,17,0,0,0,0,480
398,57.872,321,5,67,12,1,0,1,2,138
399,37.728,192,1,44,13,0,0,1,2,0
400,18.701,415,5,64,7,1,0,0,1,966

In [54]:
# compare algorithms
from pandas import read_csv
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [55]:
X_train, X_validation, Y_train, Y_validation = train_test_split(X, y, test_size=0.20, random_state=42, shuffle=True)

In [56]:
knn = KNeighborsClassifier()

In [57]:
knn.fit(X_train,Y_train)

KNeighborsClassifier()

In [63]:
prediction = knn.predict(X_validation)
prediction

array([7398, 4527, 1626, 2748, 5380, 2586, 7010, 2586, 3714, 5382, 6784,
       4378, 4378, 4640, 5099, 4336, 5140, 6420, 5107, 5099, 3085, 2168,
       5289, 4391, 3261, 3907, 3261, 4891, 3584, 4896, 3899, 9704, 7555,
       4171, 4640, 2001, 6040, 3182, 5107, 5728, 7100, 1389, 3899, 3625,
       4534, 4391, 1870, 4828, 2168, 4640, 4391, 2748, 4756, 3274, 4307,
       3274, 4307, 4116, 5274, 1551, 1852, 2168, 3536, 5149, 2558, 2168,
       5728, 1389, 4896, 4160, 1300, 5382, 7306, 6662, 6196, 3182, 5096,
       7499, 2561, 3899], dtype=int64)

In [62]:
Y_validation

Obs
210    9156
281    5319
34     1829
211    3206
94     5435
       ...
247    3211
228    5614
370    8028
177    2607
290    3907
Name: Limit, Length: 80, dtype: int64

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
accuracy = accuracy_score(Y_validation,prediction)
print(accuracy)

0.0